@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --color-body: #ffff;
    --color-base: #0092cc;
    --color-text: #1e1e1e;
    --font-base: "Inter";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-body);
    color: var(--color-text);
    font-family: var(--font-base), sans-serif;
}


.navbar {
    position: fixed;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99;
}

.navbar-style {
    background-color: var(--color-body);
    box-shadow: 0px 16px 26px rgba(0, 0, 0, 0.2);
    height: 110px;

}

.nav-container {
    padding: 0 30px;
}

.navbar-functions {
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (orientation: portrait) {
    nav .show {
        background: rgba(0, 0, 0, .9);
        flex-direction: column;
        left: 0;
        padding: 8vw 0vw 5vw 1vw;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: -1;
        top: 110px;
    }
}



@media (orientation: portrait) {
    .navbar-light .navbar-nav .nav-link.active {
        color: #ffffff;
    }
}





.userFunctions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userFunctions i {

    color: #ed2083;
    font-size: 30px;
}


.banner_middle {
    width: 100%;
    height: 350px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.8)), url(/assets/images/pexels-mark-mccammon-1080721.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 24px;
    margin-bottom: 50px;
}

.banner_row {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    align-items: end;
    color: white;
}

.banner_middle h1 {
    color: #ed2083;
    font-weight: bold;
}

.banner_middle span {
    font-size: 24px;
}

.banner_middle button {
    background-color: #ed2083;
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
    padding: 10px 25px;
}

.space-line {
    width: 100%;
    height: 1px;
    background-color: #8f8f8f;
    margin-top: 50px;
    margin-bottom: 50px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.product-container {
    
    width: 100%;
    justify-content: center;
    
    gap: 24px;
    margin-top: 24px;
}

.products-section h2, h3 {
    color: #ed2083;
    text-align: center;
    margin-bottom: 24px;
}

.product {
    background-color: #ffffff;
    width: 305px;
    height: 350px;
    transition: transform .3s;
    padding: 20px;
    display: flex;
    flex-direction: column;
    color: #1e1e1e;
    font-size: 20px;
    box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.2);
}

.product:hover {
    transform: scale(1.1);
}

.product img {
    width: 100%;
    height: 80%;
}

.product-name {
    font-weight: bold;
}

.product-currency {
    font-size: 14px;
}


.banners-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    margin-top: 24px;
}

.banners {
gap: 12px;
}

.banner-long {
    height: 514px;
    width: 424px;
    background-color: #1e1e1e;
}

.short-banner-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 14px;
}

.banner-short {
    background-color: #1e1e1e;
    height: 250px;
    width: 100%;
    
}

.main {
    margin-bottom: 500px;
}

.newsletter-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    bottom: 0;
    width: 100%;
    height: 250px;
    background-color: #222222;
    
}

h4 {
    color: #ed2083;
    font-weight: bold;
    margin-bottom: 24px;
}


.newsletter-form {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 12px;
}

@media (orientation: portrait){
   .newsletter-container {
     flex-wrap: wrap;
     padding: 0 25px;
    }
}

.sub-form {
    height: 40px;
    background-color: #fff;
    border-radius: 5px;
    padding: 0 5px;
}

.subscribe-btn {
    height: 40px;
    color: #fff;
    font-weight: 700;
    border: none;
    border-radius: 5px;
    background-color: #ed2083;
    padding: 10px 10px;
}

.subscribe-btn:hover {
    background-color: #de227d;
}

.faq-container {
    
    bottom: 0;
    width: 100%;
    height: 300px;
    background-color: #e0e0e0;
}


.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.form {
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;

    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.form.signup {
    opacity: 0;
    pointer-events: none;
}

.forms.show-signup .form.signup {
    opacity: 1;
    pointer-events: auto;
}

.forms.show-signup .form.login {
    opacity: 0;
    pointer-events: none;
}

header {
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}

form {
    margin-top: 30px;
}

.form .field {
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}

.field input,
.field button {
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}

.field input {
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}

.field input:focus {
    border-bottom-width: 2px;
}

.eye-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}

.field button {
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}

.field button:hover {
    background-color: #016dcb;
}

.form-link {
    text-align: center;
    margin-top: 10px;
}

.form-link span,
.form-link a {
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}

.form a {
    color: #0171d3;
    text-decoration: none;
}

.form-content a:hover {
    text-decoration: underline;
}

.line {
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}

.line::before {
    content: 'Albo';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}

.media-options a {
    display: flex;
    align-items: center;
    justify-content: center;
}

a.facebook {
    color: #fff;
    background-color: #4267b2;
}

a.facebook .facebook-icon {
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}

.facebook-icon,
img.google-img {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}

img.google-img {
    height: 20px;
    width: 20px;
    object-fit: cover;
}

a.google {
    border: 1px solid #CACACA;
}

a.google span {
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .form {
        padding: 20px 10px;
    }

}