@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap');

:root {
    --color-body: #ffff;
    --color-base: #0092cc;
    --color-text: #1e1e1e;
    --font-base: "Inter";
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--color-body);
    color: var(--color-text);
    font-family: var(--font-base), sans-serif;
}

.main {
    display: flex;
    flex-direction: column;
}

.promotionNav {
    position: fixed;
    background-color: var(--color-base);
    color: #ffff;
    font-weight: 700;
    
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 45px;
    top: 0;
    margin-bottom: 24px;
    
}

.nav {
    z-index: 1;
    position: fixed;
    background-color: var(--color-body);
    width: 100%;
    height: 165px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 16px 26px rgba(0, 0, 0, 0.1);
    top: 45px;
    left: 0;
    
}

.navMain {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width: 100%;
    margin-bottom: 24px;
}

a:link {
    text-decoration: none;
}

.searchBar {
    color: #8F8F8F;
    font-size: 16px;
    width: 200px;
    height: 25px;
    border: 2px solid #8F8F8F;
    border-radius: 3px;
    padding: 4px 6px;
}

.searchBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.navLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
    width: 200px;
    height: 60px;
    border: 6px solid #2c2c2c;
    color: #2c2c2c;
    font-size: 36px;
    font-weight: 700;
}

.userIcons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 264px;
    height: 56px;
    gap: 24px;
}

.userLogin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8F8F8F;
    gap: 5px;
}

.userFavorite {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8F8F8F;
    gap: 5px;
}

.userCart {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #8F8F8F;
    gap: 5px;
}

.userIcons i {
    color: #8f8f8f;
    font-size: 40px;
}

.categoriesNav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    height: 50px;
    background-color: #ffff;
    gap: 25px;
}

.categoriesNav a {
    font-weight: 700;
    color: #1e1e1e;
    font-size: 18px;
}

.banner_container {
    position: static;
    width: 100%;
    height: 350px;
    overflow: hidden;
    margin-bottom: 50px;
}

.banner_middle1 {
    position:static;
    width: 100%;
    height: 350px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(/assets/images/pexels-philipp-m-100582.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    padding: 24px;
    
}

.banner_middle1 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.banner_heading {
    display: flex;
    flex-direction: column;
    
}

h1 {
    color: var(--color-base);
}

.banner_heading p {
    color: #ffff;
    font-weight: 500;
    font-size: 28px;
}

.banner_btn {
    background-color: #0092cc;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    width: 172px;
    height: 49px;
    font-weight: 700;
    color: #ffff;
}

.banner_middle2 {
    
    width: 100%;
    height: 350px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(/assets/images/pexels-mike-1174103.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.banner_middle3 {
    position:static;
    width: 100%;
    height: 350px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)), url(/assets/images/pexels-irene-lasus-90454.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}



.dot {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }


.products_container {
    margin-top: 24px;
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 24px;
}

.product {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 16px;
    background-color: #ffff;
    width: 246px;
    height: 290px;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}

.product img {

    height: 70%;
}

.product_info {
    display: flex;
    flex-direction: column;
    width: 100%;

}

.product_price {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 700;
}

.product_currency {
    font-size: 12px;
}









.footer {
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 32px;
    bottom: 0;
    
}

.footer_socials {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 28px;
    gap: 24px;
    color: #2c2c2c;
    
}

.footer a {
    color: #2c2c2c;
}

.forms {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

.form{
    position: absolute;
    max-width: 430px;
    width: 100%;
    padding: 30px;
    border-radius: 6px;
    background: #FFF;
    
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.1);
}
.form.signup{
    opacity: 0;
    pointer-events: none;
}
.forms.show-signup .form.signup{
    opacity: 1;
    pointer-events: auto;
}
.forms.show-signup .form.login{
    opacity: 0;
    pointer-events: none;
}
header{
    font-size: 28px;
    font-weight: 600;
    color: #232836;
    text-align: center;
}
form{
    margin-top: 30px;
}
.form .field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 20px;
    border-radius: 6px;
}
.field input,
.field button{
    height: 100%;
    width: 100%;
    border: none;
    font-size: 16px;
    font-weight: 400;
    border-radius: 6px;
}
.field input{
    outline: none;
    padding: 0 15px;
    border: 1px solid#CACACA;
}
.field input:focus{
    border-bottom-width: 2px;
}
.eye-icon{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: #8b8b8b;
    cursor: pointer;
    padding: 5px;
}
.field button{
    color: #fff;
    background-color: #0171d3;
    transition: all 0.3s ease;
    cursor: pointer;
}
.field button:hover{
    background-color: #016dcb;
}
.form-link{
    text-align: center;
    margin-top: 10px;
}
.form-link span,
.form-link a{
    font-size: 14px;
    font-weight: 400;
    color: #232836;
}
.form a{
    color: #0171d3;
    text-decoration: none;
}
.form-content a:hover{
    text-decoration: underline;
}
.line{
    position: relative;
    height: 1px;
    width: 100%;
    margin: 36px 0;
    background-color: #d4d4d4;
}
.line::before{
    content: 'Or';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #FFF;
    color: #8b8b8b;
    padding: 0 15px;
}
.media-options a{
    display: flex;
    align-items: center;
    justify-content: center;
}
a.facebook{
    color: #fff;
    background-color: #4267b2;
}
a.facebook .facebook-icon{
    height: 28px;
    width: 28px;
    color: #0171d3;
    font-size: 20px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
}
.facebook-icon,
img.google-img{
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
}
img.google-img{
    height: 20px;
    width: 20px;
    object-fit: cover;
}
a.google{
    border: 1px solid #CACACA;
}
a.google span{
    font-weight: 500;
    opacity: 0.6;
    color: #232836;
}

@media screen and (max-width: 400px) {
    .form{
        padding: 20px 10px;
    }
    
}
 




